html {
 min-height: 100%;
}
body {
 background-image: url["me.jpg"];
}
.container {
    margin: 20px;
    padding: 20px;
    background-color: rgb(226, 221, 221);
    opacity: .9;
}
.navbar-brand {
    font-family: 'Roboto Slab', serif;
    background-color: #4BAAA5;
    padding: 10px;
}
/*Headers*/
.display-4 {
    font-family: 'Roboto Slab', serif;
    color: #4BAAA5;
}
/*footer*/
.footer {
    padding-bottom: 5px;
    background-color: darkgrey;
    text-align: center;
    border-top: solid #4BAAA5 5px;
    color: #079767;
    bottom: 0;
    width: 100%;
}
/*Submit button*/
.btn {
    background-color: #4BAAA5;
    color: #fff;
}
/*Hover affect for all links on page*/
a:hover {
    background-color: #4BAAA5;
}

/*Resource: https://www.w3schools.com/howto/howto_css_image_grid_responsive.asp*/
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin: 20px,20px,0px,20px;
  }
  /*When width of screen is 992px padding is formatted to images*/
  @media (max-width: 992px) {
    img {
         padding-bottom: 10px;
     }
 }
  /* Create four equal columns that sits next to each other */
  .col-12 {
    flex: 25%;
    max-width: 25%;
    margin: 10px;
    padding: 0 4px;
  }
  
  .col img {
    margin-top: 8px;
    vertical-align: middle;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns*/ 
  @media screen and (max-width: 800px) {
    .col {
      flex: 50%;
      max-width: 50%;
    }
  }
  .row-main {
    background-color: rgb(226, 221, 221);
    padding: 20px;
  }